<div class="container">
    <!-- fila de parte superior del pie -->
	<div class="row">

		<div class="col-md-4">
			<img src="imgs/footer.jpg" alt="" width="300" height="90">
		</div>

		<div class="col-md-2">
			<img src="imgs/fac.png" alt="" width="100" height="80">
			<a class="btn btn-primary" href="https://www.facebook.com/" role="button">Facebook</a>
		</div>

		<div class="col-md-2">
			<img src="imgs/twi.png" alt="" width="100" height="75">
			<a class="btn btn-info" href="https://twitter.com/?lang=es" role="button">Twitter</a>
		</div>

		<div class="col-md-2">
			<img src="imgs/ins.jpg" alt="" width="150" height="80">
			<a class="btn btn-danger" href="https://www.instagram.com/?hl=es" role="button">Instagram</a>
		</div>

		<div class="col-md-2">
			<img src="imgs/what.png" alt="" width="100" height="80">
			<a class="btn btn-success" href="https://web.whatsapp.com/" role="button">WhatsApp</a>
		</div>

			
	</div>
</div>